body{
    background-image: url(./IMG/background3.png);
}

header{
    background-color: black;
    display:flex;
  width:150%;
  height:60%;
  align-content: flex-start;
  padding-inline-start: 0%;
  align-items: flex-start;
  
}

nav{
    margin-top: 2em;
}

nav a{
    margin-top: 1em;
    color:white;
  font-family: 'Monoton', cursive;
  font-size: 1.2em;
  text-decoration: remove;
  align-items: flex-start;

}

nav a:visited{
    text-decoration: none;
    color: white;
}

h1{
    position: relative;
    font-family: 'Stardos Stencil', cursive;
    color: #f5f5f5;
    text-align: center;
    border: 2px solid black;
    box-shadow: 7px 7px 7px 4px gray;
    width: 10%;
    text-align: center;
    left: 26.5em;
    font-family: 'Monoton', cursive;
    background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  animation: move 120s linear infinite;
}

@keyframes move {
	to {
		background-position: 4500vh;
	}
}

#about-dev{
    display: flex;
    /* justify-content: center; */
    /* flex-flow: row; */
    /* flex-wrap: wrap; */
    align-items: baseline;
}

div{
   float: left;
    width: 25%;
   align-content: center;
   text-align: center;
}

h2{
    font-family: 'Stardos Stencil', cursive;
    color: #f5f5f5;
    margin-top: 2em;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 1.2em;
}

img{
    height: 20em;
    z-index: 1;
    width: auto;
    margin: 0px 10px;
    box-shadow: 6px 4px 4px white;
    border-radius: 1em;

}


p{
    border: 2px solid black;
    background-color: gray;
    width: 75%;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 7px 7px 7px 2px white;
    font-family: 'Stardos Stencil', cursive;
    color: #f5f5f5;
    margin-left: 2em;
    background-color: transparent;
}

footer{
    position: relative;
    margin-top: 5em;
}