body {
  background-image: url(/IMG/background\ 1.png);
  background-size:cover;
}

header{
  display:flex;
  justify-content: center;
  align-items: flex-start;
}

header nav{
  
  
}

header ul{
  display:flex;
  width:500px;
  height:60px;
  justify-content: space-evenly;
  padding-inline-start: 0%;
}
header ul li:hover{
  display:inline-block;
  width:100px;
  height:50px;
  color:white;
  

}

header ul li a{
  font-family: 'Monoton', cursive;
  font-size: 1em;
  
}


main{
  margin-top:-3%;
}
#planetName{
  font-family: 'Monoton', cursive;
  font-size: 5em;
  color:white;
  text-align: center;
  background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  animation: move 120s linear infinite;
  
}
@keyframes move {
	to {
		background-position: 4500vh;
	}
}

#planetDiv{
  position: absolute;
  left:20em;
   color:rgb(255, 255, 255);
   /* background-color: white; */
   width:49%;
   height: 500px;
  
}  

#button{
  margin-left:70%;
  margin-top:1.5%;
}
#quiz{
  display:block;
  color:white;
  margin-left:70%;
  margin-top:1.5%;
}


#planetImg{
  float:left;
  width:750px;
  height:750px;
  object-fit: contain;
  -webkit-shape-outside:circle();
  /* shape-outside:circle (); */
  
}

#planetInfo{
  font-size:1.3em;
 
}
main ul{
  display:flex;
  justify-content: space-between;
  color:white;
  margin-top:42%;
  margin-bottom:2%;
  padding-inline-start: 5%px;
  padding-inline-end: 5%;

}

main ul img{
  width:5%;
  height:5%;
  float:inherit;
}



#Mercury{
  background: url(/GIFS/mercury.gif) no repeat;
}