body {
  background-image: url(/IMG/background\ 1.png);
  background-size:cover;
}

header{
  display:flex;
  justify-content:space-between;
  align-items: flex-start;
  background-color: black;

}


header ul{
  display:flex;
  width:150%;
  height:60%;
  justify-content: space-evenly;
  padding-inline-start: 0%;
}

header ul li a{
  display:inline;
   color:white;
  font-family: 'Monoton', cursive;
  font-size: 1.2em;

}


main{
  margin-top:-3%;
}
#planetName{
  font-family: 'Monoton', cursive;
  font-size: 5em;
  color:white;
  text-align: center;
  background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  animation: move 120s linear infinite;
  
}
@keyframes move {
	to {
		background-position: 4500vh;
	}
}

#planetDiv{
  position: absolute;
  left:20em;
   color:rgb(255, 255, 255);
   /* background-color: white; */
   width:49%;
   height: 500px;
   margin-bottom: 10px;
  
}  

#button{
  margin-left:70%;
  margin-top:1.5%;
}

#quiz{
  display:block;
  color:white;
  margin-left:70%;
  margin-top:1.5%;
  font-size: 1.3em;
}

#quiz-results{
  display:block;
  color:white;
  margin-left:70%;
  margin-top:1.5%;
  font-size: 1.3em;
}

#planetImg{
  float:left;
  width:60%;
  height:90%;
  object-fit: contain;
  -webkit-shape-outside:circle();
  /* shape-outside:circle (); */
}

#planetInfo{
  font-size:1.3em;
  font-family: 'Maven Pro', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  /* line-height: 1.4em; */
}

/* wraps the planet and the planet info in a div with the id of body */
body{
  /* margin-bottom: 25px; */
}

main ul{
  display:flex;
  justify-content: space-between;
  color:white;
  margin-top:23%;
  margin-bottom:2%;
  padding-inline-start: 5%px;
  padding-inline-end: 5%;

}

main ul img{
  width:5%;
  height:5%;
  float:inherit;
}

#planetButtons {
  position: relative;
  bottom: -450px;
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto;
}

#planetButtons a {
  width: 100px;
  height: 80px;
  
}

#planetButtons img {
  width: 35px;
  height: 35px;
  
}
#planetButtons p {
  margin: 0px;
  
}

#Mercury{
  background: url(/GIFS/mercury.gif) no repeat;
}



/* Use these too style radio buttons!*/

input[class='radioButton']:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -2px;
  left: -1px; 
  position: relative;
  background-color: rgb(103, 3, 197);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid orange;
}

input[class='radioButton']:checked:after {
   width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -2px;
  left: -1px; 
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid rgb(103, 3, 197);
}

.answerText {
  color: orange;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Maven Pro', sans-serif;
  margin-left: 15px;
  font-weight: bold;
  line-height: 1.5em;
}
.questionText {
  color: orange;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: bold;
  font-family: 'Maven Pro', sans-serif;
}

#quiz-results{
  color: orange;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: bold;
  font-family: 'Maven Pro', sans-serif;
}

#button{
  padding: 15px;
  font-size: 25px;
  border-width: 5px;
  border-radius: 15px;
  /* background-color: rgb(197, 107, 3); */
  background-color: rgb(103, 3, 197);
  color: white;
  border-color:orange;
  font-family: 'Maven Pro', sans-serif;
}

#submitQuiz{
  padding: 15px;
  font-size: 25px;
  border-width: 5px;
  border-radius: 15px;
  /* background-color: rgb(197, 107, 3); */
  background-color: rgb(103, 3, 197);
  color: white;
  border-color:orange;
  font-family: 'Maven Pro', sans-serif;
}